$ModalComponent-spacing: 20px;

.ModalComponent {
  display: flex;
  padding: $ModalComponent-spacing;
  align-items: center;
  justify-content: center;
  
  &__modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid grey;
    width: 400px;
    padding: $ModalComponent-spacing;
  }
}