$App-spacing: 10px;

.App {
  padding: 0;

  @media (min-width: 600px) {
    padding: $App-spacing;
  }

  &__header {
    text-align: center;
    padding-bottom: 0;

    @media (min-width: 600px) {
      padding-bottom: $App-spacing;
    }
  }
}